@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;500&display=swap');

* {
    font-family: 'Raleway', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

:root {
    --light-green: #84A59D;
}

h1 {
    font-size: 30px;
}

a {
    text-decoration: none;
    color: black;
}

input:focus {
    outline: none;
}